#progresscnt{
    width: 300px;
    height: 10px;
    background-color: rgb(41, 43, 42);
    border-radius: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#progress{
    width: 0%;
    height: 100%;
    background-color: rgb(0, 255, 0);
    border-radius: 100px;
    transition: width 1s;   
}